/* .app{
  background-color: rgb(240, 239, 241);
} */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  /* perspective: 1500px; */
  background: #ebebeb;
  /* overflow-x: hidden; */
}